<section class="content content--small content--right">
  <form class="form">
    <h3>Apply</h3>
    {{#unless facebookConnected}}
      <a href="#" class="btn btn--facebook" {{action 'facebookConnect'}}>
        <div class="input-price"><i class="ss-settings"></i></div>
        <span>Connect with Facebook</span>
      </a>
      <div class="btn-subtext">And we'll pull in your relevent info automaticaly</div>
      <div class="seporator">
        <span>or</span>
      </div>
    {{else}}
      <div class="btn-subtext">Awesome! We've got your details all ready to go...</div>
      <div class="seporator clearfix">
        <span></span>
      </div>
    {{/unless}}
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your full name?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-malefemale"></i></div>
        {{input type="text" value=name placeholder="Bruce Wayne"}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your email?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-mail"></i></div>
        {{input type="text" value=email placeholder="bruce@wayneenterprises.com"}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your phone number?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-phone"></i></div>
        {{input type="text" value=phoneNumber placeholder="0800 000 000"}}
      </div>
    </div>
  </form>
  <div class="content__footer clearfix">
    {{#link-to 'step-1' class="btn"}}
      Apply
      <i class="ss-navigateright"></i>
    {{/link-to}}
  </div>
</section>


<section class="content content--left content--container content--fixed">
  <h1>Get a Quote</h1>
  <p class="margin-bottom-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  <hr>
  {{#quote-table}}
  {{/quote-table}}
</section>