<section class="content content--left content--container">
  <h1>Title for final quote here</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
  <table class="estimate-table">
    <tr>
      <td class="estimate-table__price">Anual price including insurance premium Tax (IPT)</td>
      <td>
        <h2>{{format-currency quoteTotal}}</h2>
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Public liability</td>
      <td>
        {{#if publicLiability}}
          {{format-currency publicLiability}}
        {{else}}
        Not included
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Employers liability</td>
      <td>
        {{#if employersLiability}}
          {{format-currency employersLiability}}
        {{else}}
          Not included
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Professional indemnity</td>
      <td>
        {{#if professionalIndemnity}}
          {{format-currency professionalIndemnity}}
        {{else}}
          Not included
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Legal Expenses</td>
      <td>
        {{#if hasLegalExpenseCover}}
          {{format-currency 100000}}
        {{else}}
          Not included
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Building Cover</td>
      <td>
        {{#if hasBuildingCover}}
          {{format-currency buildingRebuildCost}}
        {{else}}
          Not included
        {{/if}}
      </td>
    </tr>
    <tr>
      <td class="estimate-table__price">Equipment Cover</td>
      <td>
        {{#if hasEquipmentCover}}
          {{format-currency equipmentReplacementCost}}
        {{else}}
          Not included
        {{/if}}
      </td>
    </tr>
  </table>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</section>


<section class="content content--right">
  <form class="form">
    <h3>Apply</h3>
    {{#unless facebookConnected}}
      <a href="#" class="btn btn--facebook" {{action 'facebookConnect'}}>
        <div class="input-price"><i class="ss-settings"></i></div>
        <span>Connect with Facebook</span>
      </a>
      <div class="btn-subtext">And we'll pull in your relevent info automaticaly</div>
      <div class="seporator">
        <span>or</span>
      </div>
    {{else}}
      <div class="btn-subtext">Awesome! We've got your details all ready to go...</div>
      <div class="seporator clearfix">
        <span></span>
      </div>
    {{/unless}}
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your full name?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-malefemale"></i></div>
        {{input type="text" value=name placeholder="Bruce Wayne"}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your email?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-mail"></i></div>
        {{input type="text" value=email placeholder="bruce@wayneenterprises.com"}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Whats your phone number?
      </label>
      <div {{bind-attr class=":form__control"}}>
        <div class="input-price"><i class="ss-phone"></i></div>
        {{input type="text" value=phoneNumber placeholder="0800 000 000"}}
      </div>
    </div>
  </form>
  <div class="content__footer clearfix">
    {{#link-to 'step-1' class="btn"}}
      Apply
      <i class="ss-navigateright"></i>
    {{/link-to}}
  </div>
</section>
