<section class="content progress">
  <ul class="clearfix">
    <li class="complete">{{#link-to 'step-1'}}1{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-2'}}2{{/link-to}}</li>
    <li class="active"><span>3</span></li>
    <li><span>4</span></li>
    <li><span>5</span></li>
    <li><span>6</span></li>
    <li><span>7</span></li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Tell us about yourself</h3>

    <div class="form__group form__group--large">
      <label class="form__group__label">

        What would you like us to call you?
      </label>
      <div class="form__control">
        <div class="input-price"><i class="ss-malefemale"></i></div>
        {{input type="text" value=title placeholder="Mr? Mrs? Superman? Cat woman?"}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">

        Full name:
      </label>
      <div {{bind-attr class=":form__control nameError:form__control--invalid"}}>
        <div class="input-price"><i class="ss-heartuser"></i></div>
        {{input type="text" value=name placeholder="" focus-out='validateName' isValid=isNameValid}}
        {{#if nameError}}
          <div class="form__control__error">
            You must enter your full name
          </div>
        {{/if}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">

        Email:
      </label>
      <div {{bind-attr class=":form__control emailError:form__control--invalid"}}>
        <div class="input-price"><i class="ss-mail"></i></div>
        {{input type="text" value=email placeholder="" focus-out='validateEmail' isValid=isEmailValid}}
        {{#if emailError}}
          <div class="form__control__error">
            You must enter a valid e-mail address
          </div>
        {{/if}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">

        Phone number:
      </label>
      <div class="form__control">
        <div class="input-price"><i class="ss-rotaryphone"></i></div>
        {{input type="text" value=phoneNumber placeholder=""}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">

        Alternative phone number:
      </label>
      <div class="form__control">
        <div class="input-price"><i class="ss-touchtonephone"></i></div>
        {{input type="text" value=alternativePhoneNumber placeholder=""}}
      </div>
    </div>

    <p>By providing your details you confirm you agree with our <a href="">Terms and Conditions</a> and <a href="">Privacy Policy</a></p>
  </form>

  <div class="content__footer clearfix">
    <button {{bind-attr class=":btn isStep3Valid::btn--inactive"}} {{action 'save'}}>
      Next
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
