<section class="content">
  <ul>
    <li>Step 1</li>
    <li class="active">Step 2</li>
    <li>Step 3</li>
    <li>Step 4</li>
    <li>Step 5</li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Tell us about your employees</h3>

    <div class="form__group form__group--large">
      <label class="form__group__label">
        <span class="step-no">1</span>
        How many employees do you have?
      </label>
      <div class="form__control">
        <div class="input-price"><i class="ss-malefemale"></i></div>
        {{input type="text" value=numberOfEmployees placeholder=""}}
        {{number-error number=numberOfEmployees}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">
        <span class="step-no">2</span>
        Do you use bona fide subcontractors?
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasSubcontractors value=true}}
            <span class="btn__title btn__title--input">
              <i class="ss-database"></i>
              Yes
            </span>
            <span class="btn__msg btn__input ss-delete">
              {{input type="text" placeholder="How many subcontractors will be onsite at any one time?" value=subcontractorsOnSite}}
            </span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasSubcontractors value=false}}
            <span class="btn__title">
              <i class="ss-tools"></i>
              No
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
        {{#if hasSubcontractors}}
          {{number-error number=subcontractorsOnSite}}
        {{/if}}
      </div>
    </div>

    {{#if hasSubcontractors}}
      <div class="form__group form__group--large">
        <label class="form__group__label">
          <span class="step-no">3</span>
          What percentage of your turnover relates to payments to bona fide subcontractors?
        </label>
        <div {{bind-attr class=":form__control isSubcontractorPercentageValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">%</div>
            {{input type="text" value=subcontractorPercentage placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" value=subcontractorPercentage min=5 max=100 step=5}}
          </div>
        </div>
        {{number-error number=subcontractorPercentage}}
      </div>
    {{/if}}

  </form>

  <div class="content__footer clearfix">
    <button {{bind-attr class=":btn isValid::btn--inactive"}} {{action 'save'}}>
      Next
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
