<section class="content progress">
  <ul class="clearfix">
    <li class="complete"><a href="/step-1">1</a></li>
    <li class="complete"><a href="/step-2">2</a></li>
    <li class="complete"><a href="/step-3">3</a></li>
    <li class="active"><span>4</span></li>
    <li><span>5</span></li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Please choose the covers you need</h3>

    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Sum insured for Public Liability:
      </label>
      <div class="form__control clearfix">
        <div class="form__control__left">
          <div class="input-price">£</div>
          {{input type="text" value=publicLiability placeholder="Amount"}}
        </div>
        <div class="form__control__right">
          {{input type="range" class="input-range" value=publicLiability min=1000 max=1000000 step=1000}}
        </div>
        {{number-error number=publicLiability}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Sum insured for Employers Liability:
      </label>
      <div class="form__control clearfix">
        <div class="form__control__left">
          <div class="input-price">£</div>
          {{input type="text" value=employersLiability placeholder="Amount"}}
        </div>
        <div class="form__control__right">
          {{input type="range" value=employersLiability min=1000 max=1000000 step=1000}}
        </div>
        {{number-error number=employersLiability}}
      </div>
    </div>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Sum insured for Professional Indemnity:
      </label>
      <div class="form__control clearfix">
        <div class="form__control__left">
          <div class="input-price">£</div>
          {{input type="text" value=professionalIndemnity placeholder="Amount"}}
        </div>
        <div class="form__control__right">
          {{input type="range" value=professionalIndemnity min=1000 max=1000000 step=1000}}
        </div>
        {{number-error number=professionalIndemnity}}
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Legal Expenses
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasLegalExpenseCover value=true}}
            <span class="btn__title">
              <i class="ss-database"></i>
               £100,000
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasLegalExpenseCover value=false}}
            <span class="btn__title">
              <i class="ss-database"></i>
               Not required
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>

    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Building
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasBuildingCover value=true}}
            <span class="btn__title">
              <i class="ss-database"></i>
                Include this cover
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasBuildingCover value=false}}
            <span class="btn__title">
              <i class="ss-database"></i>
                Don't include this cover
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>

    {{#if hasBuildingCover}}
      <div class="form__group form__group--large">
        <label class="form__group__label">
          
          Select how much it would cost to rebuild your property from scratch
        </label>
        <div {{bind-attr class=":form__control isBuildingRebuildCostsValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">£</div>
            {{input type="text" value=buildingRebuildCost placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" value=buildingRebuildCost min=1000 max=1000000 step=1000}}
          </div>
          {{number-error number=buildingRebuildCost}}
        </div>
      </div>
    {{/if}}

    <div class="form__group form__group--large">
      <label class="form__group__label">
        
        Business / Office Equipment
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasEquipmentCover value=true}}
            <span class="btn__title">
              <i class="ss-database"></i>
                Include this cover
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasEquipmentCover value=false}}
            <span class="btn__title">
              <i class="ss-database"></i>
                Don't include this cover
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>

    {{#if hasEquipmentCover}}
      <div class="form__group form__group--large">
        <label class="form__group__label">
          
          Select how much it would cost to replace all of your business / office equipment.
        </label>
        <div {{bind-attr class=":form__control isOfficeCostsValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">£</div>
            {{input type="text" value=equipmentReplacementCost placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" value=equipmentReplacementCost min=1000 max=1000000 step=1000}}
          </div>
          {{number-error number=equipmentReplacementCost}}
        </div>
      </div>
    {{/if}}

  </form>

  <div class="content__footer clearfix">
    <button {{bind-attr class=":btn isValid::btn--inactive"}} {{action 'save'}}>
      Next
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
