<section class="content progress">
  <ul class="clearfix">
    <li class="complete">{{#link-to 'step-1'}}1{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-2'}}2{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-3'}}3{{/link-to}}</li>
    <li class="complete">{{#link-to 'step-4'}}4{{/link-to}}</li>
    <li class="active"><span>5</span></li>
    <li><span>6</span></li>
    <li><span>7</span></li>
  </ul>
</section>
<section class="content">
  <form class="form">
    <h3>Business questions</h3>
    <div class="form__group form__group--large">
      <label class="form__group__label">
        Have you done or do you plan to do any work on contracts outside the UK or for customers based outside the UK?
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasWorkOutsideUK value=true}}
            <span class="btn__title">
               Yes
            </span>
            <span class="btn__msg ss-delete">Ok, we'll require you to answer the next set of questions</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasWorkOutsideUK value=false}}
            <span class="btn__title">
               No
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>

    {{#if hasWorkOutsideUK}}
      <div class="form__group form__group--large">
        <label class="form__group__label">
          What is your percentage of work on UK contracts
        </label>
        <div {{bind-attr class=":form__control isTurnoverValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">%</div>
            {{input type="text" value=percentageOfContractsInUK placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" class="input-range" value=percentageOfContractsInUK min=0 max=100 step=5}}
          </div>
        </div>
        {{number-error number=percentageOfContractsInUK}}
      </div>

      <div class="form__group form__group--large">
        <label class="form__group__label">
          What is your percentage of work on EU contracts
        </label>
        <div {{bind-attr class=":form__control isTurnoverValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">%</div>
            {{input type="text" value=percentageOfContractsInEU placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" class="input-range" value=percentageOfContractsInEU min=0 max=100 step=5}}
          </div>
        </div>
        {{number-error number=percentageOfContractsInEU}}
      </div>

      <div class="form__group form__group--large">
        <label class="form__group__label">
          What is your percentage of work on US & Canada contracts
        </label>
        <div {{bind-attr class=":form__control isTurnoverValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">%</div>
            {{input type="text" value=percentageOfContractsInUS placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" class="input-range" value=percentageOfContractsInUS min=0 max=100 step=5}}
          </div>
        </div>
        {{number-error number=percentageOfContractsInUS}}
      </div>

      <div class="form__group form__group--large">
        <label class="form__group__label">
          What is your percentage of work on rest of the world contracts
        </label>
        <div {{bind-attr class=":form__control isTurnoverValid:form__control--invalid :clearfix"}}>
          <div class="form__control__left">
            <div class="input-price">%</div>
            {{input type="text" value=percentageOfContractsInROW placeholder="Amount"}}
          </div>
          <div class="form__control__right">
            {{input type="range" class="input-range" value=percentageOfContractsInROW min=0 max=100 step=5}}
          </div>
        </div>
        {{number-error number=percentageOfContractsInROW}}
      </div>
    {{/if}}

    <div class="form__group form__group--large">
      <label class="form__group__label">
        Do you provide services to OR undertake work at the following locations: - power stations - nuclear installations - oil, gas or petrochemical works - airports, aircraft, aviation safety or airside work - watercraft, docks, harbours - railways - hospitals or other medical facilities?
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasSpecificServiceLocations value=true}}
            <span class="btn__title">
               Yes
            </span>
            <span class="btn__msg ss-delete">Ok, we'll require you to answer the next set of questions</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasSpecificServiceLocations value=false}}
            <span class="btn__title">
               No
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>

    {{#if hasSpecificServiceLocations}}
      <div class="form__group form__group--large">
        <label class="form__group__label">
          Please select the location(s) you work at or provide services to
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Power stations or nuclear installations
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Onshore oil, gas or petrochemical works, pipelines or bulk storage locations
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Offshore oil, gas or petrochemical works, pipelines or bulk storage locations
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Airports, Aircraft, Aviation safety, Computer Systems or Work Airside at any point
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Watercraft, docks, harbours, boatyards or inland waterways
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Railways
        </label>
        <label>
          <input type="checkbox" name="specific_service_locations[]" value="">
          Hospitals or other medical facilities
        </label>
      </div>

      <div class="form__group form__group--large">
        <label class="form__group__label">
          Do you use heat producing equipment in these locations
        </label>
        <div class="form__control">
          <div class="btn-group radio-btn-group radio-btn-group--half">
            {{#btn-group-radio-input groupValue=usesHeatProducingEquipment value=true classNames="radio-input-text"}}
              <span class="btn__title">
                <i class="ss-footsteps"></i>
                Yes
              </span>
              <span class="btn__msg ss-delete">No problem!</span>
            {{/btn-group-radio-input}}
            {{#btn-group-radio-input groupValue=usesHeatProducingEquipment value=false}}
              <span class="btn__title">
                <i class="ss-contacts"></i>
                No
              </span>
              <span class="btn__msg ss-delete">No problem!</span>
            {{/btn-group-radio-input}}
          </div>
        </div>
      </div>

      <div class="form__group form__group--large">
        <label class="form__group__label">
          Have you been providing services to or working at these locations for more than 10 years
        </label>
        <div class="form__control">
          <div class="btn-group radio-btn-group radio-btn-group--half">
            {{#btn-group-radio-input groupValue=hasMoreThanTenYearsAtLocations value=true classNames="radio-input-text"}}
              <span class="btn__title btn__title--input">
                <i class="ss-footsteps"></i>
                Yes
              </span>
              <span class="btn__msg btn__input ss-delete">
                {{input type="text" placeholder="How many years at these locations?" value=numberOfYearsAtLocations}}
              </span>
            {{/btn-group-radio-input}}
            {{#btn-group-radio-input groupValue=hasMoreThanTenYearsAtLocations value=false}}
              <span class="btn__title">
                <i class="ss-contacts"></i>
                No
              </span>
              <span class="btn__msg ss-delete">No problem!</span>
            {{/btn-group-radio-input}}
          </div>
          {{#if hasMoreThanTenYearsAtLocations}}
            {{number-error number=numberOfYearsAtLocations}}
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="form__group form__group--large">
      <label class="form__group__label">
        Do you undertake work on any of the following that could result in a claim for significant loss of life or property damage: - Amusement rides, - Piling, - Swimming Pool Contracts, - Hospitals?
      </label>
      <div class="form__control">
        <div class="btn-group radio-btn-group radio-btn-group--half">
          {{#btn-group-radio-input groupValue=hasSignificantLossPossibility value=true}}
            <span class="btn__title">
               Yes
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
          {{#btn-group-radio-input groupValue=hasSignificantLossPossibility value=false}}
            <span class="btn__title">
               No
            </span>
            <span class="btn__msg ss-delete">No problem!</span>
          {{/btn-group-radio-input}}
        </div>
      </div>
    </div>
  </form>

  <div class="content__footer clearfix">
    <button {{bind-attr class=":btn isStep1Valid::btn--inactive"}} {{action 'save'}}>
      Next
      <i class="ss-navigateright"></i>
    </button>
  </div>
</section>
